.contactWindow {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    position: fixed;
    width: 80%;
    align-items: center;
  }
  .contactForm form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .contactForm {
    display: flex;
    justify-content: center;
   
    border: 1px solid #211510;
    box-shadow: 5px 5px 5px 5px;
    background-color: green;
    width: 60%;
    padding-top: 2rem;
  }
  .contactForm input {
    width: 93%;
    height: 2.5rem;
    margin: 0.5rem;
    box-shadow: 5px 5px 5px 5px #92908e;
  }
  .checkbox {
    display: flex;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: white;
    height: 2rem;
  }
  #accept {
    height: 1rem;
  }
  .checkbox input {
    width: 1rem;
  }
  .checkbox h3 {
    font-size: 1rem;
    font-weight: 100;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
  .contactForm h2 {
    color: white;
    text-align: center;
  }
  .contactForm h3 {
    color: white;
  }
  .submit {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .submit input {
    background-color: #9f1600;
    color: orange;
    font-weight: 900;
    font-size: 1.5rem;
  
   
  }
  @media screen and (max-width: 576px) {
    .contactForm {
      width: 100%;
  
  
    }
    .contactWindow {
      display: flex;
      justify-content: center;
      padding-top: 4rem;
      position: fixed;
      width: 100%;
    }
    .contactForm form {
      width: 100%;
    }
  }