* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bed600;
}
.page {
  background-color: #bed600;
}
/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 200px;
  background: #f1f1f1;
}
form.example {
  background-color: #bed600;
}
/* Style the submit button */
form.example button {
  float: right;
  width: 50px;
  padding: 10px;
  background: green;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: green;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
#menuPrincipal ul {
  list-style-type: none;
  /* transition: 0.5s all; */
  cursor: pointer;
  left: 0;
  white-space: nowrap;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  width: 80%;
}
#menuPrincipal {
  /* position: relative; */
  margin-bottom: 2rem;
  background-color: #bed600;
}
#menuPrincipal li {
  font-size: 1.5rem;
  margin-left: 15px;
  color: white;
  letter-spacing: 2px;
  font-size: 1rem;
  padding-bottom: 1rem;
}
#menuPrincipal li:hover {
  color: green;
}
.ulSecondary {
  list-style-type: none;
  position: absolute;
  transition: 0.5s all;
  padding: 1rem;
  color: white;
  padding: 1rem 0.5rem;
  width: 200px;
  left: 5rem;
}
#burger {
  font-size: 2rem;
  position: absolute;
  right: 0;
}
#box:checked ~ .ul {
  max-height: 50vh;

  width: 50%;
}

#box:not(:checked) ~ ul {
  max-height: 0;
}
#box {
  display: none;
}
.accueil a:hover {
  color: green;
}
.accueil a:visited {
  color: green;
}
.accueil a {
  text-decoration: none;
  font-weight: 500;
}

.sidebar-misc {
  border-top: 1px solid rgb(179, 179, 179);
  margin: 1rem auto;
  padding-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.sidebar-misc a {
  padding: 0.5rem;
}
.sidebar-misc a:visited {
  color: white;
}
#ecriture {
  background-color: #bed600;
}
#bande {
  background-color: #bed600;
}
#footer {
  background-color: #3e2b2e;
  color: white;
}

.subscribe {
  background-color: #3e2b2e;
}
@media screen and (min-width: 768px) {
  .accueil li {
    color: black;
  }
  .accueil a {
    font-weight: 600;
  }
  #menuPrincipal label {
    display: none;
  }
  #menuPrincipal {
    display: flex;
    justify-content: center;
    /* width: auto; */
    margin-bottom: 0;
  }
  #menuPrincipal ul {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    /* left: 10rem; */
    align-items: center;
  }

  #menuPrincipal .ulSecondary {
    display: flex;
    flex-direction: column;
    background-color: #3e2b2e;
    width: 25%;
    /* border-radius: 15%; */
    margin-left: 1rem;
    /* left: 30%; */
    transition: opacity 300ms linear;
    /* position: absolute; */
  }
  #menuPrincipal .ulSecondary li:hover {
    color: green;
  }

  #menuPrincipal li:hover {
    color: green;
    /* font-size: 1.5rem; */
    transition: 0.5 all;
  }

  #box:not(:checked) ~ ul {
    max-height: 50vh;

    /* background-color: red; */
  }
  #menuPrincipal li {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    color: white;
  }
  .sidebar-misc {
    display: flex;
    flex-direction: row;
    justify-content: right;
    border-top: none;
  }
  #menuPrincipal ul:nth-child(4) {
    position: absolute;
    top: -2rem;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 2;
    /* position: fixed; */
  }

  /* menu effect */
}
